.tm{
    vertical-align: super;
    font-size: 10px;
}
.pd{
    padding: 0 8.5vw ;
}
body{
    overflow-x: hidden;
}
/* little-banner */
#little-banner{
    background-color: black;
    height: 50px;
}
#little-banner>img{
    height: 30%;
}
/*  */
/* NAV  *//* sovrascrizione navbar di bootstrap */
#navbar-sony{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1100;
}
.navbar-brand{
    width: 50px;
}
 #navbar-sony form .nav-link.dropdown-toggle:hover{
    color: rgb(3, 3, 3);
}
#navbar-sony form{
    display: flex;
}
#navbar-sony form input[type="submit"]{
    border-radius: 50px;
}
.nav-link.search i{
    color: black;
    font-size: 20px;
}
.navbar-toggler-icon{
    color: black;
}
/* BANNER-ITEMS */
.banner-items{
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;    
}
.contain-banner-items{
    padding: 30px 0;
}
.contain-banner-items a{
    display: inline-block;
    padding: 15px;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}
.contain-banner-items li{
    margin:  calc(1.25rem + .1vw) 0px;
    list-style: none;
}
.title-banner{
    max-width: 320px;
}
.title-banner>img{
    width: 100%;
}
ol, ul {
    padding-left:0;
}
/*  */
/* animated-grid */
#animated-grid>div {
   padding: 0px .5vw;  
}
@media all and (min-width:1100px) {
    #animated-grid>div {
        padding: 0px 5px;  
     }
}
.grid-item{
   margin: 20px 0;
   transition: all 0.2s linear 0s;
   position: relative;
   bottom: 0;
}
.grid-item:hover{
    position: relative;
    bottom: 15px;
}
.grid-item a{
    display: inline-block;
    width: 100%;
    border-radius: 15px;   
    padding: 3px;
    transition: all 0.1s linear 0s;
}
.grid-item a:focus{
    border: 3px solid rgb(85, 85, 231);
}
.grid-item img{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    filter: opacity(.7);
}
.grid-item:hover img{
    filter: opacity(1);
}
/*  */
/* show-ps5 */
#show-ps5{
    margin: 160px 0;
}
#top-ps5-layout{
    text-align: center;
}
#second-ps5-layout a{
  text-decoration: none;
  color: white;
  background-color:rgb(85, 85, 231);
  padding: 13px;
  position: relative;
  top: 30px;
  border-radius: 30px;
}
#third-ps5-layout img{
    width: 100%;
}
.blue{
    color: rgb(85, 85, 231);
}
.grey{
    color: grey;
}
.ps5-layout-items a{
    color: grey;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    transition: all 0.1s linear 0s;
}
.ps5-layout-items a:focus{
    border-bottom:3px solid rgb(85, 85, 231);
    color: black;
}
.ps5-layout-items img{
    width: 100%;
}
/* /* SHOW-PS5 +  BANNER-ITEMS  */
#show-ps5+.banner-items{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/*  */
/* grid-new-releases */
#grid-new-releases{
    padding-top: 50px;
    background-color: black;
    color: white;
}
#grid-new-releases div:first-child{
    margin-bottom: 30px;
}
#grid-new-releases section>img{
    width: 100%;
    border-radius: 25px;
}
#grid-new-releases section{
    margin-bottom: 15px;
}
/*  */
/* show-ps4 */
#show-ps4{
    text-align: center;
}
#show-ps4 div:first-child{
    margin-top: 50px;
}
#show-ps4 section> img{
    width: 100%;
}
#show-ps4 section{
    margin-top: 100px;
}
#show-ps4 section a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(85, 85, 231) ;
    color: white;
    border-radius: 30px;

}
/*  */