.tm{
    vertical-align: super;
    font-size: 10px;
}
.pd{
    padding: 0 8.5vw ;
}
body{
    overflow-x: hidden;
}
/* little-banner */
#little-banner{
    background-color: black;
    height: 50px;
}
#little-banner>img{
    height: 30%;
}
/*  */
/* NAV  *//* sovrascrizione navbar di bootstrap */
#navbar-sony{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1100;
}
.navbar-brand{
    width: 50px;
}
 #navbar-sony form .nav-link.dropdown-toggle:hover{
    color: rgb(3, 3, 3);
}
#navbar-sony form{
    display: flex;
}
#navbar-sony form input[type="submit"]{
    border-radius: 50px;
}
.nav-link.search i{
    color: black;
    font-size: 20px;
}
.navbar-toggler-icon{
    color: black;
}
/* BANNER-ITEMS */
.banner-items.first-banner{
    animation-name: banner-transition;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.first-banner .title-banner{
    background-position: center;
    background-size: cover;
    animation: logo-banner-transition 30s  0s infinite;
}
.first-banner .contain-banner-items h1::after{
    content: "Rompi il cerchio";
    animation-name: title-text-transition;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.first-banner .contain-banner-items p::after{
    content: "Rialzati dopo ogni sconfitta e afforonta  una nuova sfida dopo ogni rinascita in questo esplosivo thriller fantascientifico, disponibile in esclusiva su PS5.";
    animation-name: text-transition;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.banner-items{
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;    
}
.contain-banner-items{
    padding: 30px 0;
}
.contain-banner-items a{
    display: inline-block;
    padding: 15px;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}
.contain-banner-items li{
    margin:  calc(1.25rem + .1vw) 0px;
    list-style: none;
}
.title-banner{
    max-width: 320px;
}
.title-banner>img{
    width: 100%;
}
ol, ul {
    padding-left:0;
}
/*  */
/* animated-grid */
#animated-grid>div {
   padding: 0px .4vw;  
}
@media all and (min-width:1100px) {
    #animated-grid>div {
        padding: 0px 5px;  
     }
}
.grid-item{
   margin: 20px 0;
   border-radius: 20px;
   transition: all 0.2s linear 0s;
   position: relative;
   bottom: 0;
}
.grid-item:hover{
    box-shadow: 1px 15px 10px grey;
    position: relative;
    bottom: 15px;
}
.grid-item a{
    display: inline-block;
    width: 100%;
    border-radius: 15px;   
    transition: all 0.1s linear 0s;
}
.grid-item a:focus{
    border: 3px solid rgb(85, 85, 231);
    padding: 3px 
}
.grid-item img{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    filter: opacity(.7);
}
.grid-item:hover img{
    filter: opacity(1);
}
/*  */
/* show-ps5 */
#show-ps5{
    margin: 160px 0;
}
#top-ps5-layout{
    text-align: center;
}
#second-ps5-layout a{
  text-decoration: none;
  color: white;
  background-color:rgb(85, 85, 231);
  padding: 13px;
  position: relative;
  top: 30px;
  border-radius: 30px;
}
#third-ps5-layout img{
    width: 100%;
}
.blue{
    color: rgb(85, 85, 231);
}
.grey{
    color: grey;
}
.ps5-layout-items a{
    color: grey;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    transition: all 0.1s linear 0s;
}
.ps5-layout-items a:focus{
    border-bottom:3px solid rgb(85, 85, 231);
    color: black;
}
.ps5-layout-items img{
    width: 100%;
}
/* /*  BANNER-ITEMS - second-banner  */
.banner-items.second-banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/*  */
/* grid-new-releases */
#grid-new-releases{
    padding-top: 50px;
    background-color: black;
    color: white;
}
#grid-new-releases div:first-child{
    margin-bottom: 30px;
}
#grid-new-releases section>img{
    width: 100%;
    border-radius: 25px;
}
#grid-new-releases section{
    margin-bottom: 15px;
}
/*  */
/* show-ps4 */
#show-ps4{
    text-align: center;
}
#show-ps4 div:first-child{
    margin-top: 50px;
}
#show-ps4 section> img{
    width: 100%;
}
#show-ps4 section{
    margin-top: 100px;
}
#show-ps4 section a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(85, 85, 231) ;
    color: white;
    border-radius: 30px;
}
/* subscriptions-banner */
.subscriptions-banner{
    background-color: rgb(184, 182, 182);
    margin-top: 150px;
}
.subscriptions-layout-left div.col-md-8{
    padding: 25px 0px;
}
div.col-md-8>div{
    max-width: 320px;
}
.subscriptions-layout-left img{
    width: 100%;
    margin-bottom: 25px;
}
.subscriptions-layout-left a{
    margin-top: 25px;
    color:rgb(85, 85, 231) ;
    display:inline-block;
    padding: 8px;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    border-radius: 30px;
}
.subscriptions-layout-right img{
    width: 100%;
}
/* DISCOVER-GRID */
.discover-grid{
    margin-top: 150px;
    text-align: center;
}
.discover-grid-top h1,.discover-grid-top h4{
    margin-bottom: 30px;
}
.discover-grid>section {
    margin-top: 30px;
}
.discover-grid>section img{
    width: 100%;;
}
/*  */
/* PLAY-NOW */
#play-now{
    background-color:rgb(7, 7, 85);
}
/*  */
/* FOLLOW-US */
#follow-us{
    margin-bottom: 200px;
}
/* FOOTER */
footer{
    background-color:rgb(22, 22, 212) ;
    padding: 100px 0;
}
footer.pd{
    padding: 100px 8.5vw ;
}
#footer-logo>div{
    max-width: 160px;
    margin-bottom: 60px;
}
#footer-logo>div>img{
    width: 100%;
}
#footer-logo>img{
    width: 25px;
    vertical-align: middle;
}
footer ul{
    list-style: none;
}
#footer-end img{
   width: 150px;
}
#footer-end>div{
    margin-bottom: 15px;
}
/*  */





/* ANIMATION ZONE  */
/* BANNER-ITEMS */
@keyframes  banner-transition {
    /* returnal */
    0%{
        color: white;
        background-image: url(../img/jumbo-bg.png);
    }
    15%{
        color: white;
        background-image: url(../img/jumbo-bg.png);
    }
    /* RATCHET */
    16%{
        color: white;
        background-image: url(../img/ratchet.png)
    }
    31%{
        color: white;
        background-image: url(../img/ratchet.png)
    }
    /* DESTINY */
    32%{
        color: white;
        background-image: url(../img/Destiny-2.jpg);
    }
    47%{
        color: white;
        background-image: url(../img/Destiny-2.jpg);
    }
    /* DAYSGONE */
    48%{
        color: white;
        background-image: url(../img/Days-Gone-Recensione-PS4.jpg);
    }
    63%{
        color: white;
        background-image: url(../img/Days-Gone-Recensione-PS4.jpg);
    }
    /* KNOCK OUT */
    64%{
        color: white;
        background-image: url(../img/knockout_city-5399232.jpg);
    }
    79%{
        color: white;
        background-image: url(../img/knockout_city-5399232.jpg);
    }
    /*Judgment  */
    80%{
        color: black;
        background-image: url(../img/Judgment.jpg);
    }
    99%{
        color: black;
        background-image: url(../img/Judgment.jpg);
    }
    /* returnal */
    100%{
        color: white;
        background-image: url(../img/jumbo-bg.png);
    }
}
/* BANNER-ITEMS /// TITLE-BANNER */
@keyframes logo-banner-transition {
    /* returnal */
    0%{
        background-image: url(../img/returnal-hero-banner-logo.png);
        height: 50px;
    }
    15%{
        background-image: url(../img/returnal-hero-banner-logo.png);
        height: 50px;
    }
    /* RATCHET */
    16%{
        background-image: url(../img/ratchet-logo_banner.png);
        height: 145px;
    }
    31%{
        background-image: url(../img/ratchet-logo_banner.png);
        height: 145px;
    }
    /* DESTINY */
    32%{
        background-image: url(../img/145-1457000_destiny-2-png-logo-destiny-2-logo-png.png);
        height: 87px;      
    }
    47%{
        background-image: url(../img/145-1457000_destiny-2-png-logo-destiny-2-logo-png.png);
        height: 87px;
    }
    /* DAYSGONE */
    48%{
        background-image: url(../img/Days-Gone-Logo_Gamer-Guide-1.png);
        height: 80px;   
    }
    63%{
        background-image: url(../img/Days-Gone-Logo_Gamer-Guide-1.png);
        height: 80px;
    }
    /* KNOCK OUT */
    64%{
        background-image: url(../img/koc-hero-logo.svg);
        height: 198px;
    }
    79%{
        background-image: url(../img/koc-hero-logo.svg);
        height: 198px;
    }
    /*Judgment  */
    80%{
        background-image: url(../img/17f8b37b5184f73ea4d96d31153ce04e_original.png);
        height: 170px;

    }
    99%{
        background-image: url(../img/17f8b37b5184f73ea4d96d31153ce04e_original.png);
        height: 170px;
    }
}
/* BANNER-ITEMS // H1*/
@keyframes  title-text-transition{
    /* returnal */
    0%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rompi il cerchio";
        
    }
    15%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rompi il cerchio";
        
    }
    /* RATCHET */
    16%{
        background-color: rgba(110, 110, 110, 0);
        content: "La Potenza di PS5 al servizio di un Lombax";
    }
    31%{
        background-color: rgba(110, 110, 110, 0);
        content: "La Potenza di PS5 al servizio di un Lombax";
    }
    /* DESTINY */
    32%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "BRANDISCI L'OSCURITÀ";
    }
    47%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "BRANDISCI L'OSCURITÀ";
    }
    /* DAYSGONE */
    48%{
        background-color:rgba(110, 110, 110, 0);
        content: "Disponibile ora su PC";
    }
    63%{
        background-color:rgba(110, 110, 110, 0);
        content: "Disponibile ora su PC";
    }
    /* KNOCK OUT */
    64%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "A tutti i combattenti";
    }
    79%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "A tutti i combattenti";
    }
    /*Judgment  */
    80%{
        background-color: rgba(110, 110, 110, 0);
        content: "DISPONIBILE ORA PER PS5™";
    }
    99%{
        background-color: rgba(110, 110, 110, 0);
        content: "DISPONIBILE ORA PER PS5™";
    }
    /* returnal */
    100%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rompi il cerchio";
    }
}
/* BANNER-ITEMS // P*/
@keyframes   text-transition{
    /* returnal */
    0%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rialzati dopo ogni sconfitta e afforonta  una nuova sfida dopo ogni rinascita in questo esplosivo thriller fantascientifico, disponibile in esclusiva su PS5.";
        
    }
    15%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rialzati dopo ogni sconfitta e afforonta  una nuova sfida dopo ogni rinascita in questo esplosivo thriller fantascientifico, disponibile in esclusiva su PS5.";
        
    }
    /* RATCHET */
    16%{
        background-color: rgba(110, 110, 110, 0);
        content: "Accompagna il Lombax più amato della galassia e il suo amico di latta in un nuovo gioco ispirato all'appassionante episodio di debutto di questo intrepido duo.";
    }
    31%{
        background-color: rgba(110, 110, 110, 0);
        content: "Accompagna il Lombax più amato della galassia e il suo amico di latta in un nuovo gioco ispirato all'appassionante episodio di debutto di questo intrepido duo.";
    }
    /* DESTINY */
    32%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "Preparati ad attività, equipaggiamento e armi esotiche completamente nuove e all'attesissimo ritorno del raid Volta di Vetro.";
    }
    47%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "Preparati ad attività, equipaggiamento e armi esotiche completamente nuove e all'attesissimo ritorno del raid Volta di Vetro.";
    }
    /* DAYSGONE */
    48%{
        background-color:rgba(110, 110, 110, 0);
        content: "Sali in sella e avventurati in un mondo dilaniato da una letale pandemia nel ruolo del cacciatore di taglie Deacon St. John.";
    }
    63%{
        background-color:rgba(110, 110, 110, 0);
        content: "Sali in sella e avventurati in un mondo dilaniato da una letale pandemia nel ruolo del cacciatore di taglie Deacon St. John.";
    }
    /* KNOCK OUT */
    64%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "Solo per 10 giorni lotta su qualsiasi mappa, con qualsiasi palla, in qualsiasi stile, ascoltando qualsiasi playlist: nessun livello massimo, nessuna barriera.";
    }
    79%{
        background-color: rgba(110, 110, 110, 0.3);
        content: "Solo per 10 giorni lotta su qualsiasi mappa, con qualsiasi palla, in qualsiasi stile, ascoltando qualsiasi playlist: nessun livello massimo, nessuna barriera.";
    }
    /*Judgment  */
    80%{
        background-color: rgba(110, 110, 110, 0);
        content: "Segui i sospettati, scopri gli indizi e porta le prove in tribunale. Ma attenzione, troverai personaggi oscuri dietro ogni angolo.";
    }
    99%{
        background-color: rgba(110, 110, 110, 0);
        content: "Segui i sospettati, scopri gli indizi e porta le prove in tribunale. Ma attenzione, troverai personaggi oscuri dietro ogni angolo.";
    }
    /* returnal */
    100%{
        background-color: rgba(110, 110, 110, 0);
        content: "Rialzati dopo ogni sconfitta e afforonta  una nuova sfida dopo ogni rinascita in questo esplosivo thriller fantascientifico, disponibile in esclusiva su PS5.";
    }
}
/*  */